doctype html
html
  head
    title Harsh Dance Academy
    style
      include ../static/style.css
    body 
        nav#navbar.top.firstClass.secondClass
            ul 
                li #[a(href = '/') Home] 
                li #[a(href = '/') About Us] 
                li #[a(href = '/') Services] 
                li #[a(href = '/') Contact Us] 
                li #[a(href = '/') Help]
                li #[a(href = '/')  Class Info]

        section#introSection 
            div.big Welcome to Harsh Dance Academy
            div.small Eat Sleep Dance Repeat 


        section#missionSection 
            h1 Our mission
            
        section#sponsorSection 
            h1 Our Sponsors

        

        footer#footer 
            our footer here

        
        